{{#extend "layout-admin"}}

{{#content "extra_css"}}

{{/content}}

{{#content "content"}}
<div class="container-fluid" id="index">
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</div>
{{/content}}

{{#content "extra_js"}}
<script>
    $('#productsTable').dataTable();
</script>
{{/content}}

{{/extend}}